<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Demo</title>
  <!-- 请勿在项目正式环境中引用该 layui.css 地址 -->
  <link href="/static/css/layui.css" rel="stylesheet">
</head>
<body>
<div class="layui-tab " >
      <ul class="layui-tab-title" >
        <li class="layui-this" style="width: 2rem">数据采集</li>
        <li style="width: 2rem">参数设置</li>
        <li style="width: 2rem">数据分析</li>
        <li style="width: 2rem">微震定位</li>
        <li style="width: 2rem">智能预警</li>
      </ul>
      <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">内容-1</div>

        <div class="layui-tab-item">内容-2</div>
        <!--数据分析页面-->
        <div class="layui-tab-item" >
            <div id="data-analysis">
                <!--左侧微震显示页面-->
                <div class="column">
                    <div class="layui-card layui-panel" >
                    <table class="layui-hide" id="ID-table-demo-page"></table>
                    <!-- 数据类型选择 -->
                    <script type="text/html" id="TPL-select-primary">
                      {{#  var cityList = d.cityList || ["微震 1","汽笛 2","电流 3","爆破 4","噪声 5"]; }}
                      <select name="type" class="layui-border select-demo-primary" lay-ignore>
                        <option value="">初始值 -1</option>
                        {{#  layui.each(cityList, function(i, v){ }}
                        <option value="{{= v }}" {{= v === d.city ? 'selected' : '' }}>{{= v }}</option>
                        {{#  }); }}
                      </select>
                    </script>
                    <!-- 噪声状态开关 -->
                    <script type="text/html" id="ID-table-demo-templet-switch">
                      <input type="checkbox" name="noise" value="{{= d.id }}" title="有噪声|无噪声" lay-skin="switch" lay-filter="demo-templet-status" {{= d.id == 10001 ? "" : "" }}>
                    </script>
                    <!--<script type="text/html" id="waveform" >
                        <div style="width: 500px;height: 300px;" id="weizhen"></div>
                         <img src="/static/image/pexels-amar-preciado-12663429.jpg" ></img>
                    </script>-->
                    <script type="text/html" id="ID-table-demo-page-pagebar">
                    <div class="layui-btn-container">
                        <button class="layui-btn layui-btn-sm" lay-event="footerDemoBtn1">底部按钮1</button>
                        <button class="layui-btn layui-btn-sm" lay-event="footerDemoBtn2">底部按钮2</button>
                    </div>
                    </script>
                    </div>
                </div>
                <!--右侧功能页面-->
                <div class="column">
                    <h2 style="text-align: center;font-size: 0.3rem;font-weight:500; font-family:黑体;border: 1px solid rgba(0,0,0,0.2) ;padding: 0.25rem ">微震监测传感器数据波形</h2>
                    <div class="Microseismic-shape" id="sensor1"></div>
                    <div class="Microseismic-shape" id="sensor2"></div>
                    <div class="Microseismic-shape" id="sensor3"></div>
                    <div class="Microseismic-shape" id="sensor4"></div>
                    <div class="Microseismic-shape" id="sensor5"></div>
                    <div class="Microseismic-shape" id="sensor6"></div>
                </div>
            </div>
        </div>

        <div class="layui-tab-item">内容-4</div>

        <div class="layui-tab-item">内容-5</div>

      </div>
    </div>

<!-- 请勿在项目正式环境中引用该 layui.js 地址 -->
<script src="/static/js/layui.js"></script>

</body>
</html>