<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Flask Website</title>
        <link href="/static/css/layui.css" rel="stylesheet">

</head>
<body>
    <div id="container" style="width: 1000px;height: 300px"></div>
    <div class="layui-btn-container">
</div>
</body>
</html>
<script src="/static/js/echarts.js"></script>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/layui.js"></script>
<script>

</script>
<script>
    // 假设您已经有了波形数据和表格，这里简化为一个空表格
// 创建ECharts图表
var sensor = echarts.init(document.getElementById('container'));

var mndata;
// 设置图表的其他配置项
$.get('/static/micr_1.json', function (data) {
                mndata=data
                sensor.setOption(
                    (option = {
                        backgroundColor: '#ffffcc',
                        title: {
                            show: false,
                            text: '年月日',
                            right: '1%',
                            textStyle: {
                                color: 'black',
                                fontFamily: '微软雅黑',
                                fontWeight: 'lighter',
                                fontSize: 16
                            }
                        },
                        tooltip: {
                            trigger: 'axis'
                        },
                        grid: {
                            top: '12%',
                            left: '5%',
                            right: '2%',
                            bottom: '31%',

                        },
                        xAxis: {
                            data: data.map(function (item) {
                                return item[0];
                            })
                        },
                        yAxis: {},

                        dataZoom: [
                            {
                                startValue: '2014-06-01',
                                endValue:'2015-02-24'
                            },
                            {
                                type: 'inside'
                            }
                        ],

                        series: {
                            symbolSize: 5, // 增加数据点的标记大小
                            itemStyle: {
                                emphasis: {
                                    borderWidth: 2, // 增加点击触发区域的边框宽度
                                }},
                            name: '振幅',
                            type: 'line',
                            lineStyle: {
                                color: 'red',
                            },
                            symbol: 'rect',
                            data: data.map(function (item) {
                                return item[1];
                            })
                        }
                    })
                );
            });
var ptime=-1;
var stime=-1;
function setmarkline(p,s){
    sensor.setOption({
                    series: [
                        {
                            symbolSize: 5, // 增加数据点的标记大小
                            itemStyle: {
                                emphasis: {
                                    borderWidth: 2, // 增加点击触发区域的边框宽度
                                    }
                            },
                            name: '振幅',
                            type: 'line',
                            lineStyle: {
                                color: 'red',
                            },
                            symbol: 'rect',
                            data: mndata.map(function (item) {
                              return item[1];
                            }),
                            markLine: {
                            data: [
                               {
                                  silent: false,
                                  lineStyle: {
                                      color: 'green'
                                    },
                                  name: 'P波到时',
                                  xAxis: p,
                                  label:{
                                  formatter:'P波到时'
                                  }
                              },
                                {
                                    silent: false,
                                    lineStyle: {
                                        color: 'blue'
                                    },
                                    name: 's波到时',
                                    xAxis:s,
                                    label: {
                                        formatter: 's波到时'
                                    }
                                }
                              ]
                          }
                        }
                    ]
                });
}
/*sensor.on('click', function(params) {
    console.log('vghf')
    var x = params.dataIndex;
    layui.use(function(){
        var layer = layui.layer;
        layer.alert('请选择要设置的波形到时类型', {
            //skin: 'layui-layer-lan',
            btn: ['P波到时', 'S波到时'],
            btnAlign: 'c', // 按钮居中显示
            btn1: function(index){
                ptime=x
                setmarkline(ptime,stime)
                layer.closeAll();
            },
            btn2: function(){
                stime=x
                setmarkline(ptime,stime)
                layer.closeAll();
                //layer.msg('按钮二的回调');
            },
        });
    });
});*/

pp=-1
ss=-1
// 监听图表的点击事件
sensor.on('click', function(params) {
    console.log(params.dataIndex)
    // 获取点击的坐标点
    var x = params.dataIndex;


    // 弹出选择框，让用户选择标记类型
    var markerType = prompt('请选择标记类型（P或S）：');

    // 检查用户选择的类型，并根据选择添加标记
    if (markerType && (markerType.toUpperCase() === 'P' || markerType.toUpperCase() === 'S')) {
        //var markerName = markerType.toUpperCase() === 'P' ? 'P波到时' : 'S波到时';
        //var markerSymbol = markerType.toUpperCase() === 'P' ? 'circle' : 'rect';
        if (markerType.toUpperCase()==='P'){
            pp=x
            setmarkline(pp,ss)
        }else {
            ss=x
            setmarkline(pp,ss)
        }

    } else {
        alert('请选择有效的标记类型（P或S）');
    }
});

</script>